# Gradle / build
.gradle/
**/build/

# Local config
local.properties

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

app/src/main/res/raw/amazon_root_ca1.pem
app/src/main/res/raw/certificate.crt
app/src/main/res/raw/private_key.key