# Gradle / build
.gradle/
**/build/

# Local config
local.properties

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

android/app/src/main/res/raw/*.pem
android/app/src/main/res/raw/*.crt
android/app/src/main/res/raw/*.key